<div class="page-title">
    <h1><?php echo $this->__('Hello World'); ?></h1>
</div>
<div class="content">
    <p><?php echo $this->__('The custom message is: '); ?><b><?php echo $this->getMessage(); ?></b></p><br />
    <p><?php echo $this->__('Base url printed directly using Mage::getBaseUrl()'); ?><br /><br /><b><?php echo Mage::getBaseUrl() ?></b></p><br /><br />
    <p><?php echo $this->__('Base url printed declaring function in Helloworld.php'); ?><br /><br /><b><?php echo $this->getBaseUrl() ?></b></p><br /><br />
    <p><?php echo $this->__('Base url printed declaring function in Helloworld with the help of Data.php'); ?><br /><br /><b><?php echo $this->getBaseurlFromHelper(); ?></b></p>
</div>