<?php if ($this->isEnabled()) : ?>
<div class="block">
    <div class="block-title">
        <strong><?php echo $this->__('Hello World'); ?></strong>
    </div>
    <div class="block-content">
        <p><a href="<?php echo $this->getBaseurl(); ?>"><?php echo $this->__('Hello World'); ?></a></p>
    </div>
<?php endif; ?>